<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/lib/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
</head>
-->
  <%- include('../partials/orgchartheader.ejs')%>

<body translate="no" >
    <p id="gg" style="color: rgb(0, 0, 0, 0); font-size: 0px; display: none;"></p>
    
    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-sm py-0">
        <div class="container">
            <a id="navBrand" href="" class="navbar-brand">Brand</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks">
            <span><i class="fas fa-angle-double-down"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                 <ul class="navbar-nav navbar-right">
                    <%if(!currentUser){%>
                     <!--  <li class="nav-item">
                        <a class="nav-link" href="register">Sign In</a>
                       </li>-->
                       <li class="nav-item">
                        <a class="nav-link" href="login">Login</a>
                       </li>
                       <% }else{%>
                       <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                       </li>
                       <%}%>
                 </ul>
              </div>
        </div>
    </nav>
   
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <dev class="column col-md-8">
                <h1 class="ui header">Login</h1>
                <form id="register-form" class="ui form" action="/login" method="POST">
                    <div class="field">
                      <label>Username</label>
                      <input type="text" name="username" placeholder="Username">
                    </div>
                   
                     
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="field">
                      <div class="ui checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label>I agree to the Terms and Conditions</label>
                      </div>
                    </div>
                    <button class="btn btn-outline-success" type="submit">Submit</button>
                  </form>
            </dev>
        </div>
    </div>
    <script src="/scripts/lib/jquery-3.4.1.min.js"></script>
<!--</body>
</html>-->
<%- include('../partials/orgchartfooter.ejs')%>