<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/lib/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/forms.css">
</head>
-->
<!--
<body translate="no" >
    <p id="gg" style="color: rgb(0, 0, 0, 0); font-size: 0px; display: none;"></p>
    
    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-sm py-0">
        <div class="container">
            <a id="navBrand" href="" class="navbar-brand">Brand</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks">
            <span><i class="fas fa-angle-double-down"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                 <ul class="navbar-nav navbar-right">
                    <%if(!currentUser){%>
                       <li class="nav-item">
                        <a class="nav-link" href="register">Sign In</a>
                       </li>
                       <li class="nav-item">
                        <a class="nav-link" href="login">Login</a>
                       </li>
                       <% }else{%>
                       <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                       </li>
                       <%}%>
                 </ul>
              </div>
        </div>
    </nav>
  -->
  <%- include('../partials/profilHeader.ejs')%>
  
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center mt-4">
            <dev class="column col-md-8">
                <h2 class="ui header"><span class="inputsTitles">Register</span></h2>
                <form id="register-form" class="ui form" action="/users/<%=currentUser._id%>/profil/gestionUsers/register" method="POST">
                    <div class="field">
                      <label><span class="inputsTitles">Username</span></label>
                      <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="field">
                        <label><span class="inputsTitles">Name</span></label>
                        <div class="two fields">
                          <div class="field">
                            <input type="text" name="firstName" placeholder="First Name">
                          </div>
                          <div class="field">
                            <input type="text" name="lastName" placeholder="Last Name">
                          </div>
                        </div>
                      </div>
                        
                    
                    <div class="field">
                        <label><span class="inputsTitles">Password</span></label>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="field">
                      
                    </div>
                    <button class="btn btn-outline-success" type="submit">Submit</button>
                    <a class="btn btn-outline-danger" style="margin-left: 350px;" href="/users/<%=currentUser._id%>/profil/gestionUsers">Cancel</a>
                  </form>
            </dev>
        </div>
    </div>
    <script src="/scripts/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
<!--</html>-->
<%- include('../partials/profilFooter')%>