<%- include('../partials/profilHeader.ejs')%>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center mt-5">
            <dev class="column col-md-8">
                <h1 class="ui header"><span class="inputsTitles">Creating new unit</span></h1>
                <form id="register-form" class="ui form" action="/user/<%=user._id%>/units" method="post">
                    <div class="field">
                      <label><span class="inputsTitles">Unit type</span></label>
                      <input type="text" name="unit[type]" placeholder="First Name">
                    </div>
                    <div class="field">
                      <label><span class="inputsTitles">Unit name</span></label>
                      <input type="text" name="unit[value]" placeholder="Last Name">
                    </div>
                    <div class="field">
                      <label><span class="inputsTitles">Unit description</span></label>
                      <textarea name="unit[desc]"></textarea>
                    </div>
                    <button class="btn btn-outline-success" style="margin-top: 20px; margin-left: 42px;" type="submit">Create Unit</button>
                    <a class="btn btn-outline-danger" style="margin-left: 400px;margin-top: 20px;" href="/users/<%=user._id%>/units">Back</a>
                  </form>
            </dev>
        </div>
    </div>
<!--</body>
</html>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>




<%- include('../partials/profilFooter')%>