<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="https://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
        <link rel="mask-icon" type="" href="https://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
        <title>CodePen - Redesigned - Company Employees Hierarchy Chart </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css'>
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto'>
        <link rel="stylesheet" href="/stylesheets/lib/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/lib/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/orgchart.css">

        
        
        <!-- <link href="/stylesheets/diagram.css" rel="stylesheet">  
        <script type="text/javascript" src="/scripts/diagram.js"></script>  
        
        <link href="/stylesheets/diagramWithEditor.css" rel="stylesheet">  
        <script type="text/javascript" src="/scripts/diagramWithEditor.js"></script>  -->
        

        
		<!-- <link rel="stylesheet" href="/stylesheets/common/index.css">
		<link rel="stylesheet" href="/stylesheets/common/diagram.css"> -->
		<script type="text/javascript" src="/scripts/common/customsvg.js"></script>
		<!-- custom sample head -->
		<!-- <script type="text/javascript" src="/scripts/common/menu.js"></script> -->
        <!--<script type="text/javascript" src="/scripts/ejs.js"></script>
        <script type="text/javascript" src="/scripts/lib/ejs.js"></script> -->
		<!-- <link rel="stylesheet" href="/stylesheets/common/menu.css">
        <link rel="stylesheet" href="/stylesheets/common/fonts">
 -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<style>
    .dhx_sample-container__without-editor {
        height: calc(100% - 121px);
    }
    .dhx_sample-container__with-editor {
        height: calc(100% - 61px);
    }
    .dhx_sample-widget {
        height: 100%;
    }
    .template {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        color: rgba(0, 0, 0, 0.7);
        border: 1px solid #DFDFDF;
        padding: 10px 12px;
    }
    .template span {
        display: flex;
    }
    .template h3, .template p {
        text-align: left;
        font-size: 14px;
        line-height: 20px;
        height: 20px;
        margin: 0 0 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;	
    }
    .template_container {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .template_img-container {
        min-width: 93px;
        width: 93px;
        margin-right: 12px;
    }
    .template_img-container img {
        width: inherit;
        height: auto;
    }
    .template_icon {
        height: 20px;
        width: 20px;
        margin-right: 4px;
    }
    .toggle_container {
        position: absolute;
        right: 2px;
        top: 10px;
        cursor: pointer;
        height: 20px;
        width: 20px;
    }
    .toggle_container .template_icon {
        height: 14px;
        width: 4px;
        margin: 0;
    }
</style>

</head>
