<%- include('../partials/profilHeader.ejs')%>
<body>
    

<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <dev class="column col-md-8">
            <h1 class="ui header">Change Password</h1>
            <form id="register-form" class="ui form" action="/users/<%=currentUser._id%>/profil/settings" method="POST">
                <div class="field">
                  <label>Old Password</label>
                  <input type="password" name="oldPassword" placeholder="old Password">
                </div>
               
                 
                <div class="field">
                    <label>New Password</label>
                    <input type="password" name="newPassword" placeholder="New Password">
                </div>
                <div class="field">
                    <label>Confirmation New Password</label>
                    <input type="password" name="cNewPassword" placeholder="Confirmation New Password">
                </div>
                
                <button class="btn btn-outline-success" type="submit">Submit</button>
              </form>
        </dev>
    </div>
</div>
<script src="/scripts/lib/jquery-3.4.1.min.js"></script>

<%- include('../partials/profilFooter')%>